Flask>=2.0.0
Flask-Cors>=4.0.0
Flask-RESTful>=0.3.10
Flask-SQLAlchemy>=3.1.1
flask_restx>=1.2.0
apispec[validation]>=6.3
flasgger>=0.9.7
langchain>=0.0.309
openai>=0.27.1
openai[embeddings]
tiktoken>=0.3.0
beautifulsoup4>=4.11.2
pandas>=1.5.3
python-dotenv>=1.0.0
redis>=4.5.2
spacy-langdetect>=0.1.2
